# Python files
*.pyc
*.pyo
*.pyd
*.egg-info
__pycache__
.venv

# build/dist/venv files
build/
dist/
Pybooru.egg-info/
venv/

# IDEs/Editors config files/folders
*.nja
.vscode
.idea

# ignore test file
.pytest_cache
pro.py
test.json
