# Python files
*.pyc
*.pyo
*.pyd
*.egg-info
__pycache__
.venv

# build/dist files
build/
dist/
Pybooru.egg-info/

# IDEs/Editors config files/folders
*.nja
.vscode

# ignore test file
.pytest_cache
pro.py
test.json
