# Ignore files .pyc
*.pyc
*.pyo
*.pyd
*.egg-info
__pycache__

# ignore test file
.pytest_cache
pro.py
test.json

# build/dist files
build/
dist/
Pybooru.egg-info/

# IDEs config files/folders
*.nja
.vscode

# node dirs and files
node_modules/
